In [2]:
x= c(1,2)

In [5]:
ls()

[1] "x"

In [4]:
k = as(1, 'character')

In [50]:
y = readline(prompt = paste0("1",1, k))
y = as.numeric(y)

11968

In [3]:
paste("1",k)

ERROR: Error in paste("1", k, k): 找不到物件 'k'

In [13]:
a = c(1,2,3)
b = c(5,6)
rbind(a,b)

Warning message in rbind(a, b):
“number of columns of result is not a multiple of vector length (arg 2)”

  [,1] [,2] [,3]
a 1    2    3
b 5    6    5

## analysis of variance

In [140]:
n_tr = readline(prompt = "number of treatments:")
n_tr = as.numeric(n_tr)
n_d = c(0)
A = numeric(length = 0)
for (tr in 1:n_tr){
    n_per_tr = readline(prompt=paste0("number of datas in ", tr, "-th treatment:"))
    n_per_tr = as.numeric(n_per_tr)
    n_d[tr] = n_d[length(n_d)] + n_per_tr
    
    C = numeric(length = n_per_tr)
    for (i in 1:n_per_tr){
        k = readline(prompt = paste0(i, "-th data in ", tr, "-th treatment:"))
        k = as.numeric(k)
        C[i] = k
    }
    A = append(A, C)
}
n_d = append(0, n_d)

#mstr
#sstr
x_bar_bar = mean(A)
sstr = 0
for(tr in 1:n_tr){
    x_tr = A[(n_d[tr]+1): (n_d[tr+1])]
    x_tr_bar = mean(x_tr)
    n = n_d[tr+1]-n_d[tr]
    sstr = sstr + n*((x_tr_bar-x_bar_bar)^2)
}
mstr = sstr/(n_tr-1)

#mse
#sse
sse = 0
for(tr in 1:n_tr){
    x_tr = A[(n_d[tr]+1): (n_d[tr+1])]
    n = n_d[tr+1]-n_d[tr]
    sse = sse + (n-1)*var(x_tr)
}
mse = sse/(length(A)-n_tr)

#F
F = mstr/mse
p_f = pf(F, (n_tr-1), (length(A)-n_tr), lower.tail = FALSE)

anova = matrix(c(sstr, (n_tr-1), mstr, F, p_f, 
                sse, length(A)-n_tr, mse, NA, NA),
              nrow = 2, ncol=5, 
               dimnames=list(c("treatments", "error"),
                             c("sum of square", "degree of freedom", "mean square", "F", "p-value"))
              ,byrow=TRUE)
anova

number of treatments:4
number of datas in 1-th treatment:2
1-th data in 1-th treatment:2
2-th data in 1-th treatment:3
number of datas in 2-th treatment:4
1-th data in 2-th treatment:657
2-th data in 2-th treatment:574
3-th data in 2-th treatment:342
4-th data in 2-th treatment:324
number of datas in 3-th treatment:3
1-th data in 3-th treatment:56
2-th data in 3-th treatment:324
3-th data in 3-th treatment:23
number of datas in 4-th treatment:2
1-th data in 4-th treatment:67
2-th data in 4-th treatment:98
[1] 138398.4

           sum of square degree of freedom mean square F        p-value
treatments 412786.3      3                 137595.4    6.959386 0.01656141
error      138398.4      7                  19771.2    0.000000 0.00000000

## random blocks

In [187]:
n_tr = readline(prompt = "number of treatments:")
n_tr = as.numeric(n_tr)
n_bl = readline(prompt = "number of blocks:")
n_bl = as.numeric(n_bl)
A = matrix(numeric(length = n_tr*n_bl),
          nrow=n_bl, ncol=n_tr)
print(">> (i,j) denotes: i-th data in j-treatment")
for(tr in 1:n_tr){
    for(bl in 1:n_bl){
        k = readline(prompt = paste0("(", bl, ",", tr, "):"))
        k = as.numeric(k)
        A[bl, tr]=k
    }
}

x_bar_bar = mean(A)
#mstr
#sstr
sstr=0
for(tr in 1:n_tr){
    sstr = sstr + n_bl*((mean(A[,tr])-x_bar_bar)^2)
}
mstr = sstr/(n_tr-1)

#msbl
#ssbl
ssbl = 0
for(bl in 1:n_bl){
    ssbl = ssbl + n_tr*((mean(A[bl,])-x_bar_bar)^2)
}

#sst
sst = 0
for(i in A){
    sst = sst + (i-x_bar_bar)^2
}

#mse
#sse
sse = sst - sstr - ssbl
mse = sse/((n_tr-1)*(n_bl-1))

#F
F = mstr/mse
p_f = pf(F, (n_tr-1), (n_tr-1)*(n_bl-1), lower.tail = FALSE)

anova = matrix(c(sstr, (n_tr-1), mstr, F, p_f,
                 ssbl, (n_bl-1), "MSBL", NA, NA,
                sse, ((n_tr-1)*(n_bl-1)), mse, NA, NA,
                 sst, (length(A)-1), NA, NA,NA),
              nrow = 4, ncol=5, 
               dimnames=list(c("treatments","block", "error", "total"),
                             c("sum of square", "degree of freedom", "mean square", "F", "p-value"))
              ,byrow=TRUE)
anova

number of treatments:3
number of blocks:5
[1] ">> (i,j) denotes: i-th data in j-treatment"
(1,1):3.77
(2,1):3.72
(3,1):3.87
(4,1):3.76
(5,1):3.69
(1,2):3.83
(2,2):3.83
(3,2):3.85
(4,2):3.77
(5,2):3.83
(1,3):3.78
(2,3):3.87
(3,3):3.89
(4,3):3.79
(5,3):3.79

           sum of square      degree of freedom mean square
treatments 0.0124133333333333 2                 0.00620666666666665
block      0.0196933333333333 4                 MSBL
error      0.0133866666666667 8                 0.00167333333333334
total      0.0454933333333334 14                NA
           F                p-value
treatments 3.70916334661352 0.0724787965809609
block      NA               NA
error      NA               NA
total      NA               NA

In [190]:
x_bar_bar = mean(A)
#mstr
#sstr
sstr=0
for(tr in 1:n_tr){
    sstr = sstr + n_bl*((mean(A[,tr])-x_bar_bar)^2)
}
mstr = sstr/(n_tr-1)

#msbl
#ssbl
ssbl = 0
for(bl in 1:n_bl){
    ssbl = ssbl + n_tr*((mean(A[bl,])-x_bar_bar)^2)
}

#sst
sst = 0
for(i in A){
    sst = sst + (i-x_bar_bar)^2
}

#mse
#sse
sse = sst - sstr - ssbl
mse = sse/((n_tr-1)*(n_bl-1))


#F
F = mstr/mse
p_f = pf(F, (n_tr-1), (n_tr-1)*(n_bl-1), lower.tail = FALSE)
print("ok")


anova = matrix(c(sstr, (n_tr-1), mstr, F, p_f,
                 ssbl, (n_bl-1), "MSBL", NA, NA,
                sse, ((n_tr-1)*(n_bl-1)), mse, NA, NA,
                 sst, (length(A)-1), NA, NA,NA),
              nrow = 4, ncol=5, 
               dimnames=list(c("treatments","block", "error", "total"),
                             c("sum of square", "degree of freedom", "mean square", "F", "p-value"))
              ,byrow=TRUE)
anova

[1] "ok"

           sum of square      degree of freedom mean square
treatments 0.0136933333333333 2                 0.00684666666666663
block      0.0193733333333334 4                 MSBL
error      0.0149066666666668 8                 0.00186333333333335
total      0.0479733333333334 14                NA
           F                p-value
treatments 3.67441860465112 0.0738002831554564
block      NA               NA
error      NA               NA
total      NA               NA

In [182]:
ssbl = 0
for(bl in 1:n_bl){
    ssbl = ssbl + n_tr*((mean(A[bl,])-x_bar_bar)^2)
}
ssbl

[1] 63250